:root {
    --header-height: 50px;
    --header-padding-x: 40px;
    --z-index-header: 1000;
    --z-index-modal: 1500;
    --border: 1px solid #7d7d7d;
    --table-border: 1px solid #dddddd;

    --color-primary: #000000;
    --color-accent: #4a81d4;
    --color-accent-hover: #3f6eb4;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: var(--z-index-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    padding: 0 var(--header-padding-x);
    background-color: #1e1e1e;
}

main {
    display: flex;
    justify-content: center;
    height: fit-content;
    min-height: calc(100vh - var(--header-height));
    padding: var(--header-height) 0;
    background-color: #e6e6e6;
}

code {
    padding: 0 4px;
    margin: 0 4px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 14px;
    color: #353535;
    background-color: #efefef;
    border-radius: 3px;
}

a {
    color: var(--color-accent);
    text-decoration: none;

    &:hover {
        color: var(--color-accent-hover);
        text-decoration: underline;
    }
}

button {
    padding: 4px 16px;
    color: #ffffff;
    cursor: pointer;
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
    border-radius: 4px;

    &:hover {
        background-color: var(--color-accent-hover);
    }
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: var(--table-border);

    tbody {
        tr:nth-child(odd) {
            background-color: #f9f9f9;
        }
    }

    th,
    td {
        padding: 8px;
        font-size: 14px;
        text-align: center;
        border: var(--table-border);
    }
}

.no-scroll {
    height: 100vh;
    overflow: hidden;
}

.text-link {
    color: var(--color-accent);
    cursor: pointer;

    &:hover {
        color: var(--color-accent-hover);
        text-decoration: underline;
    }
}

.l-header__title {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
}

.l-header__menu {
    display: flex;
    height: 100%;

    a {
        color: var(--color-primary);
        text-decoration: none;
    }

    .l-header__menu-item {
        height: 100%;
        cursor: pointer;

        &:hover {
            .l-header__menu-dropdown {
                display: block;
            }
        }

        .l-header__menu-label {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 16px;

            .l-header__menu-icon {
                width: 20px;
                height: 20px;
            }
        }

        .l-header__menu-dropdown {
            position: absolute;
            right: var(--header-padding-x);
            display: none;
            width: 220px;
            padding: 4px;
            cursor: default;
            background-color: #ffffff;
            border: 1px solid #bebebe;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            .l-header__menu-dropdown-item {
                display: flex;
                align-items: center;
                padding: 8px 12px;
                font-size: 12px;
                cursor: pointer;

                &:hover {
                    background-color: #e8e8e8;
                }

                .l-header__menu-dropdown-icon {
                    width: 16px;
                    height: 16px;
                }

                .l-header__menu-dropdown-label {
                    margin-left: 12px;
                }
            }
        }
    }
}

.l-main__content {
    width: 100%;
    max-width: 1000px;
    padding: 20px 40px 80px;
    background-color: #ffffff;
    box-shadow: 0px 0px 16px 4px #a7a7a7;
}
