.c-question-detail__back-to-list {
    text-align: end;
}

.c-question-detail__question-title {
    border-bottom: var(--border);
}

.c-question-detail__section {
    margin-top: 40px;

    .c-question-detail__section-header {
        margin-bottom: 10px;
    }
}

.c-question-detail__sandbox-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    margin-top: 40px;
    border-top: 1px solid #e6e6e6;

    @media (width < 900px) {
        grid-template-columns: 1fr;
    }

    .c-question-detail__sandbox-label-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .c-question-detail__sandbox-label {
            margin: 12px 0;
        }
    }

    .c-question-detail__sandbox-html {
        pre {
            margin: 0;
        }
    }

    .c-question-detail__sandbox-result {
        iframe {
            width: 100%;
            height: 300px;
            background: #e6e6e6;
            border: var(--border);
        }
    }

    .c-question-detail__sandbox-source-code {
        grid-row:2/3;
        grid-column:1/3;
        width: 100%;

        @media (width < 900px) {
            grid-row:3/4;
            grid-column:1/2;
        }

        .c-question-detail__sandbox-editor {
            min-height: 300px;
            border: var(--border);
        }

        .c-question-detail__sandbox-submit {
            margin-top: 20px;
            text-align: center;
        }
    }
}

.c-question-detail__score {
    padding: 1px 4px;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 4px;

    &.score-ac {
        background-color: #5cb85c;
    }

    &.score-wa {
        background-color: #f0ad4e;
    }
}

.c-question-detail__score-virtual-env {
    display: none;
}
